<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="/images/favicon_theremin.png" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
